In [9]:
a=dict(姓名='賴宏偉',性別='男',score=[95,100,90])
b=dict(學號='M1129020')
c={**a,**b}
import copy
d=copy.deepcopy(c)
a['score'][1]=80
d['姓名']='許珈綺'
d['性別']='女'
d['學號']='M1229001'
t=c.pop('score')
t=t[0]+t[1]+t[2]
t/=3
print('平均分數',t)
print(c)
f=d.pop('score')
f=f[1]+f[0]+f[2]
f/=3
print('平均分數',f)
print(d)

平均分數 88.33333333333333
{'姓名': '賴宏偉', '性別': '男', '學號': 'M1129020'}
平均分數 95.0
{'姓名': '許珈綺', '性別': '女', '學號': 'M1229001'}

In [11]:
a=[100,50,45,60,90,80,50]
a.insert(0,88)
a[2:4]=[70,50]
a.remove(50)
b=a.pop(0)
c=a.pop(-1)
d=b+c
print(d)

138

In [14]:
a=347//3
b=347%3
c=a**b
print(c)

13225